<ion-header>
  <ion-navbar>
    <ion-title>
      Geolocalização
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <p>Latitude: {{lat}}</p>
  <p>Longitude: {{lon}}</p>

</ion-content>
