<ion-header>
  <ion-navbar>
    <ion-title>Home</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <h2>Bemvindo!</h2>
  <p>
    Estamos roubando suas informações, aguarde.
  </p>
  <p>
    01000101 01110011 01110100 01100001 01101101 01101111 01110011 00100000 01110010 
    01101111 01110101 01100010 01100001 01101110 01100100 01101111 00100000 01110011 
    01110101 01100001 01110011 00100000 01101001 01101110 01100110 01101111 01110010 
    01101101 01100001 11100111 11110101 01100101 01110011 00101100 00100000 01100001 
    01100111 01110101 01100001 01110010 01100100 01100101 00101110 
  </p>
</ion-content>
